* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;

    flex: auto;

}

#content {
    height: 90vh;

    flex: auto;

    display: flex;
}

#sidebar {
    width: 25%;
    height: 100%;

    flex: auto;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    width: 75%;
    height: 100%;

    flex: auto;

    background-color: tan;

    display: flex;
    flex-direction: column;
}

div.todo {
    flex: 0 1 auto;

    height: auto;
    padding: 2rem;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.todo .title.paragraph {
    font-size: 2rem;
}

dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 3rem;
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: .5rem;
}